@model List<Student>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourApplicationName</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Посещаемость</h1>
        <form asp-action="UpdateAttendance" method="post">
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Email</th>
                            <th scope="col">Был</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].Email</td>
                                <td><input type="checkbox" value=""/></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Обновить посещаемость</button>
        </form>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Назад</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>