@model CourseViewModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-action="Course" method="post">
    <label for="courseName">Имя курса:</label>
    <input type="text" id="courseName" name="courseName" required><br>

    <label for="authorName">Имя автора:</label>
    <input type="text" id="authorName" name="authorName" required><br>

    <label for="duration">Продолжительность в неделях:</label>
    <input type="number" id="duration" name="duration" min=0 oninput="validity.valid||(value='')" required><br>

    <label for="sequential">Последовательный курс:</label>
    <input type="checkbox" id="sequential" name="sequential"><br>

    <label for="open">Открытый курс:</label>
    <input type="checkbox" id="open" name="open"><br>


    <head>
        <meta charset="utf-8">
        <title>CKEditor 5 - Classic editor</title>
        <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
    </head>
    <body>
        <h1>Classic editor</h1>
            <textarea name="content" id="editor">
            &lt;p&gt;This is some sample content.&lt;/p&gt;
        </textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    </body>

<head>
    <style>
        .textbox-container {
            margin-top: 10px;
        }

        .textbox {
            display: block;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="textbox-container">
        <button onclick="createTextbox()">Создать Textbox</button>
    </div>

    <script>
        function createTextbox() {
            var textbox = document.createElement("input");
            textbox.setAttribute("type", "text");
            textbox.setAttribute("class", "textbox");

            var container = document.querySelector(".textbox-container");
            container.insertBefore(textbox, container.lastElementChild);

            // Удаляем старую кнопку
            var oldButton = document.querySelector(".textbox-container button");
            oldButton.remove();

            // Создаем новую кнопку
            var button = document.createElement("button");
            button.textContent = "Создать Textbox";
            button.onclick = createTextbox;
            container.appendChild(button);
        }
    </script>
</body>
    <p><input type="submit" value="Submit"></p>
</form>