@model Theme
<div class="form-block">
    <h2>Тема</h2>
        <label asp-for="Name">Имя Темы:</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" required><br>

        <label asp-for="Duration">Продолжительность в неделях:</label>
        <input type="number" id="Duration" name="Duration" value="@Model.Duration" min=0 oninput="validity.valid||(value='')" required><br>
        <head>
            <meta charset="utf-8">
            <title>Содержание</title>
        </head>
        <body>
            <h1>Содержание</h1>
            <textarea asp-for="Content" name="Content" id="contEditor" required> 
                @Model.Content
        </textarea>
            <script>
                ClassicEditor
                    .create(document.querySelector('#contEditor'))
                    .catch(error => {
                        console.error(error);
                    });
            </script>
        </body>
        <h1></h1>
        <p><input type="submit" value="Сохранить"></p>
</div>
