@model List<CourseFile>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var file in Model)
            {
                <tr>
                    <td align="left"><a href=@file.Path>@file.Name</a></td>
                    <td>@file.Description</td>
                    <td align="center">
                        <form asp-action="DeleteFile" method="post">
                            <button type="submit" value="X" class="btn btn-primary">X</button>
                            <input type="hidden" id="fileId" name="fileId" value="@file.Id"><br>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

