@model List<Theme>

<div class="form-block">
    <h2>Список тем</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Номер</th>
                <th>Продолжительность</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                Model.Sort((emp1, emp2) => emp1.Number.CompareTo(emp2.Number));
                @foreach (var theme in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(theme.Name, "EditTheme", "Course", new { themeId = theme.Id })</td>
                        <td>@theme.Number</td>
                        <td>@theme.Duration</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @using (Html.BeginForm("CreateTheme", "Course"))
    {
        <input type="submit" value="Добавить тему" />
    }

</div>