@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в систему поддержки процессов дополнительного образования!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .footer {
            margin-top: 50px;
            font-size: 14px;
            color: #999;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Добро пожаловать в систему поддержки процессов дополнительного образования!</h1>
        <p>
            Этот проект создан для управления процессами дополнительного образования. Здесь вы сможете управлять курсами,
            тестами, домашними заданиями, материалами курсов и многим другим.
        </p>
        <p>
            Система предназначена для администраторов, чтобы облегчить им управление процессами обучения и обеспечить
            эффективное взаимодействие с участниками образовательных программ.
        </p>
    </div>
</body>

</html>
